{% extends 'profile_layout.html.twig' %}
{% block content %}
<div class="main" style="height: 100%;">



{% if profile %}

	<div class="page-header">
		<h1>{{ profile.name }}</h1>
	</div>

		{{ profile.profile_id }}

		<br><br>

		{{ goals|length }}


{% else %}
	<div style='width: 500px; margin: 0 auto; text-align: center;'>
		<div class='alert alert-error'>Error: No home profile found!</div>
	</div>

	<div style="width: 600px; margin: 0 auto;">
		<h2>Home Profile</h2>
		<form class="well" method="get" action="{{flash['web_root']}}/profile">
		<label>Profile Name</label>
		<input type="text" name="name" class="span3">
		<br>
		<button type="submit" name="method" value="create" class="btn">Create Profile</button>
		</form>
	</div>

{% endif %}

	
</div>
{% endblock %}