{% extends 'layout.html.twig' %}
{% block content %}
			<h2>Login</h2>
			<hr>
  		
  			<form method="post" action="login">
				<label for="username">Username: </label><input type="text" name="username"><br>
				<label for="password">Password: </label><input type="password" name="password"><br>

				<div class="form-actions">
					<input class="btn btn-large btn-inverse" type="submit" value="Login">
				</div>

			</form>
{% endblock %}